:root {
  --color-primary: hsl(238, 43%, 53%);
  --color-accent: ;
  --color-neutral-100: hsl(181, 100%, 100%);
  --color-neutral-200: hsl(220, 9%, 52%);
  --color-neutral-300: ;
  --color-neutral-400: ;
  --color-neutral-500: hsl(235, 9%, 24%);
  --color-neutral-600: ;
  --color-neutral-700: hsl(234, 12%, 17%);
  --color-neutral-800: ;
  --color-neutral-900: hsl(240, 13%, 14%);
  --font-family-sans: "Open Sans", system-ui, sans-serif;

  --header-height: 90px;
  --sidebar-width: 300px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-sans);
  background-color: var(--color-neutral-700);
  color: var(--color-neutral-100);
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

#root {
  isolation: isolate;
}

html,
body,
#root {
  height: 100%;
}

.layout {
  display: grid;
  height: 100%;
  grid-template-rows: var(--header-height) auto;
  grid-template-columns: var(--sidebar-width) auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main";

  & > header {
    grid-area: header;
  }

  & > aside {
    grid-area: sidebar;
    border-right: 1px solid var(--color-neutral-500);
  }

  & > main {
    grid-area: main;
    border-top: 1px solid var(--color-neutral-500);
    background-color: var(--color-neutral-900);
    height: 100%;
    padding: 1.2rem;
  }
}

.wrapper {
  max-width: 600px;
  margin-inline: auto;
}

.even-columns {
  display: flex;
  gap: 1.5rem;

  & > * {
    flex: 1;
  }
}

.header-row {
  display: flex;
  height: 100%;
  align-items: center;
  padding-inline: 1.2rem;
  justify-content: space-between;
}

.logo {
  height: var(--header-height);
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-inline: 2.2rem;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.col-status {
  --size: 14px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

.col-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--color-neutral-200);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.card {
  background-color: var(--color-neutral-700);
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  gap: 0.4rem;
}

.card-title {
  font-weight: 700;
}

.card-subtitle {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-neutral-200);
}

.menu {
  color: var(--color-neutral-200);
  display: grid;
  gap: 1rem;
  padding-block: 1.2rem;

  & .menu-title {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding-inline: 2.2rem;
  }

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;

    & > li {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-inline-start: 2rem;
      padding-block: 0.8rem;
      margin-right: 2rem;
      border-radius: 0 2rem 2rem 0;
      cursor: pointer;
      transition: all 200ms ease;

      &:hover {
        color: var(--color-neutral-100);
        & > svg {
          stroke: var(--color-neutral-100);
        }
      }

      & > svg {
        stroke: var(--color-neutral-200);
        transition: stroke 200ms ease;
      }

      &.active {
        background-color: var(--color-primary);
        color: var(--color-neutral-100);

        & > svg {
          stroke: var(--color-neutral-100);
        }
      }
    }
  }
}

button {
  border: 0;
  border-radius: 2rem;
  padding: 0.6rem 1.5rem;
  font-weight: 600;
  color: var(--color-primary);

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-neutral-100);
  }
}

dialog {
  background-color: var(--color-neutral-700);
  color: var(--color-neutral-100);
  border: 0;
  max-width: 80ch;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 1em rgb(0 0 0 /0.3);
  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 400px;
}

label,
legend {
  font-size: 0.8rem;
  font-weight: 700;
}

/* legend {
  margin-bottom: 0.6rem;
} */

input,
textarea,
select {
  padding: 0.4rem 0.8rem;
  background-color: inherit;
  color: inherit;
  border-radius: 0.2rem;
  border: 0;
  outline: 1px solid var(--color-neutral-500);
  font-size: 0.8rem;

  &:focus {
    outline: 1px solid var(--color-primary);
  }

  &::placeholder {
    color: var(--color-neutral-200);
  }
}

fieldset {
  border: 0;
  padding: 0;
}
